src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap"
xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">


        <flow name="mainFlow"  doc:description="This flow is the entry point to the Template business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.">
        <flow-ref name="gatherDataFlow" doc:name="gatherDataFlow"/>
 
        <flow-ref name="formatOutputFlow" doc:name="formatOutputFlow"/>
        <flow-ref name="outboundFlow" doc:name="outboundFlow"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
  
    <flow name="gatherDataFlow" >
        <scatter-gather doc:name="Scatter-Gather">
            <custom-aggregation-strategy class="org.mule.templates.transformers.ProductMergeAggregationStrategy"/>
            <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id,Name FROM Product2" doc:name="Query all products from SalesForce"/>

            <processor-chain>
                <sap:outbound-endpoint exchange-pattern="request-response" connector-ref="SAP" type="function" functionName="BAPI_MATERIAL_GETLIST" xmlVersion="2" outputXml="true" responseTimeout="10000" doc:name="Query all materials from SAP">
                    <sap:definition><![CDATA[<BAPI_MATERIAL_GETLIST>
	<import>
        <MAXROWS>${sap.maxrows}</MAXROWS>
    </import>
  	<tables>
		<MATERIALSHORTDESCSEL>
			<row id="0">
				<SIGN>I</SIGN>
				<OPTION>CP</OPTION>
				<DESCR_LOW>*</DESCR_LOW>
			</row>
		</MATERIALSHORTDESCSEL>
		<MATNRSELECTION>
			<row id="0">
				<SIGN>I</SIGN>
				<OPTION>CP</OPTION>
				<MATNR_LOW>*</MATNR_LOW>
			</row>
		</MATNRSELECTION>
	</tables>
</BAPI_MATERIAL_GETLIST>
]]></sap:definition>
                </sap:outbound-endpoint>

                <dw:transform-message doc:name="Transform BAPI_MATERIAL_GETLIST to Products">
                <dw:input-payload mimeType="application/xml"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload."BAPI_MATERIAL_GETLIST".tables.MATNRLIST.*row map {
	Name: $.MATL_DESC,
	Id: $.MATERIAL
}]]></dw:set-payload>
                </dw:transform-message>


            </processor-chain>
        </scatter-gather>

    </flow>

    
    <flow name="formatOutputFlow" >
        <custom-transformer class="org.mule.templates.transformers.SortProductList" doc:name="Custom component to sort products list"/>
        <dw:transform-message doc:name="Transform Collection of Maps to CSV Format">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv header=true
---
payload]]></dw:set-payload>
        </dw:transform-message>

        <object-to-string-transformer doc:name="CSV Output Object to String"/>
    </flow>
</mule>
